<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
    	<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		
		<link rel="stylesheet" href="css/tailwind.css">
		<link rel="stylesheet" href="css/style.css">
		
		<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
		<script src="js/main.js"></script>
		
        <title>Home page</title>
    </head>
    <body class="theme-light">
        <p class="bg-primary">
        <span th:text="'Today is: ' + ${#dates.format(#dates.createNow(), 'dd MMM yyyy HH:mm')}" th:remove="tag"></span>
        </p>
    </body>
</html>