<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head th:replace="template :: header"></head>
    
    <body class="theme-light">
    <div id="body-wrapper">
    	
    	<nav th:replace="template :: navbar"></nav>
    	
    	<div class="flex flex-row justify-center mx-auto lg:w-2/3">
    		<div class="flex flex-col p-4 pt-6 ml-auto lg:w-1/4 text-sm">
    			<div class="w-full shadow mx-auto py-6">
	    			<div>
	    				<span>IMG</span>
	    				<span>NAME</span>
	    			</div>
	    			<a href="#" class="flex flex-row">
	    				<span class="mr-2 w-4"><i class="fa fa-newspaper-o" aria-hidden="true"></i></span>
	    				<span>News Feed</span>
	    			</a>
	    			<a href="#" class="flex flex-row">
	    				<span class="mr-2 w-4"><i class="fa fa-comments" aria-hidden="true"></i></span>
	    				<span>CU Messenger</span>
	    			</a>
	    			<a href="#" class="flex flex-row">
	    				<span class="mr-2 w-4"><i class="fa fa-id-card-o" aria-hidden="true"></i></span>
	    				<span>Classifieds</span>
	    			</a>
	    			<a href="#" class="flex flex-row">
	    				<span class="mr-2 w-4"><i class="fa fa-info" aria-hidden="true"></i></span>
	    				<span>CedarInfo</span>
	    			</a>
    			</div>
    		</div>
    		<div class="flex flex-col lg:w-1/2">
    			<div class="pt-6 pb-4">
    			
    			
    			<!-- 
    			TESTING! This is a variable dump
    			<table>
        <tr th:each="var : ${#vars.getVariableNames()}">
            <td th:text="${var}"></td>
            <td th:text="${#vars.getVariable(var)}"></td>
        </tr>
        <tr>
            <td>param</td>
            <td th:text="${#vars.getVariable('param')}"></td>
        </tr>
        <tr>
            <td>session</td>
            <td th:text="${#vars.getVariable('session')}"></td>
        </tr>
        <tr>
            <td>application</td>
            <td th:text="${#vars.getVariable('application')}"></td>
        </tr>
    </table> -->
    			
    				<div th:replace="template :: posts"></div>
    			
    			</div> <!-- Card Wrapper -->
    		</div> <!-- Main Section -->
    		<div class="flex flex-col justify-start lg:w-1/4">
    			<!-- <table class="table table-striped table-bordered table-hover wideTable">
				    <tbody>
					    <tr>
					        <th></th>
					        <th class="py-4 px-6 bg-grey-lighter font-sans font-medium uppercase text-sm text-grey border-b border-grey-light"><a class="sortLink" data-issortasc="True" data-sortfield="Title" href="/Classifieds/?resultsCount=25&amp;sortField=Title&amp;isSortAsc=True">Title</a></th>
					        <th class="py-4 px-6 bg-grey-lighter font-sans font-medium uppercase text-sm text-grey border-b border-grey-light"><a class="sortLink" data-issortasc="True" data-sortfield="Type" href="/Classifieds/?resultsCount=25&amp;sortField=Type&amp;isSortAsc=True">Type</a></th>
					        <th class="py-4 px-6 bg-grey-lighter font-sans font-medium uppercase text-sm text-grey border-b border-grey-light"><a class="sortLink" data-issortasc="True" data-sortfield="Price" href="/Classifieds/?resultsCount=25&amp;sortField=Price&amp;isSortAsc=True">Price</a></th>
					        <th class="py-4 px-6 bg-grey-lighter font-sans font-medium uppercase text-sm text-grey border-b border-grey-light"><a class="sortLink" data-issortasc="True" data-sortfield="ModifDate" href="/Classifieds/?resultsCount=25&amp;sortField=ModifDate&amp;isSortAsc=True">Date</a></th>
					    </tr>
					    <tr>
					    	<td class="py-4 px-6 border-b border-grey-light">
					        	<a href="/Classifieds/Home/Details/67f16bcb-5172-4c31-b28b-87b18d7731c2">
					            	<span>IMG</span>
					            </a>
							</td>
					        <td class="py-4 px-6 border-b border-grey-light">
					        	<a href="/Classifieds/Home/Details/67f16bcb-5172-4c31-b28b-87b18d7731c2">Wooden storage shelf refridgerator/microwave</a>
					           	</td>
					        <td class="py-4 px-6 border-b border-grey-light">for sale</td>
					        <td class="py-4 px-6 border-b border-grey-light">
					        	$100.00
					       	</td>
					        <td class="py-4 px-6 border-b border-grey-light">4/6 3:28 PM</td>
					    </tr>
				    </tbody>
    			</table> -->
    		</div> <!-- Right Section -->
    	</div> <!-- Section Wrapper -->
    </div> <!-- Body Wrapper -->
    <!-- <span th:text="'Today is: ' + ${#dates.format(#dates.createNow(), 'dd MMM yyyy HH:mm')}" th:remove="tag"></span> -->
    </body>
</html>