<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="template :: header"></head>
<body class="theme-light">
    <div id="body-wrapper">
    
    	<nav th:replace="template :: navbar"></nav>
    
    	<div class="h-64 rounded-xl relative">
			<img class="h-full w-full lg:w-2/3 mx-auto object-cover" th:src="@{https://picsum.photos/900/300/?random&t={time}(time=1)}">
			<img class="absolute h-40 w-40 rounded-full shadow" style="top: 50%; right: calc(50% - 5rem);" th:src="${user.profile_pic}">
		</div>
		<div>
			<div class="mt-8">
				<div>
					<h1 class="text-3xl text-center font-semibold"><span th:text="${user.first_name}">First</span> <span th:text="${user.last_name}">Last</span></h1>
			    </div>
			    <div class="flex flex-row justify-center text-gray-600">
			    	<p class="mt-0 m-2 text-sm font-bold">Followers <span>10</span></p>
			    	<p class="mt-0 m-2 text-sm font-bold">Following <span>12</span></p>
			    </div>
			    <div class="flex flex-col justify-center">
			    	<h2 class="text-xl text-center font-bold">Information</h2>
			    	<div class="flex flex-col w-auto mx-auto">
			    		<p class="font-bold">Date of Birth: <span class="font-normal" th:text="${user.date}"></span></p>
			    		<p class="font-bold">Gender: <span class="font-normal" th:switch="${user.gender}">
							<span th:case="'0'">Female</span>
							<span th:case="'1'">Male</span>
						</span></p>
			    	</div>
			    </div>
			    
			    <p>ADD POST TEMPLATE</p>
				<div class="pt-6 pb-4">
					<div class="bg-white shadow-xl rounded-lg overflow-hidden">
						<div class="p-4 pb-0 flex w-full items-center">
							<span class="mr-4">IMG</span>
							<div class="flex flex-col">
								<p class="text-xl text-gray-900">Thomas White</p>
								<span class="text-secondaryText text-xs">8 minutes ago</span>
							</div>
						</div>
						<div class="p-4 pt-0 flex flex-wrap break-words w-full">
							<p class="text-sm" th:each="post : ${post}"></p>
						</div>
						<div class="h-1 w-11/12 border-t border-gray-300 mx-auto"></div>
						<div class="flex justify-center items-center p-2 text-secondaryText font-bold text-sm select-none">
							<div class="mx-12 flex items-center cursor-pointer">
								<span>203</span>
								<i class="fa fa-thumbs-o-up ml-1 mr-2" aria-hidden="true"></i>
								<span>Like</span>
							</div>
							<div class="commentButton flex items-center cursor-pointer">
								<i class="fa fa-commenting-o mr-2" aria-hidden="true"></i>
								<span>Comments</span>
							</div>
							<div class="mx-12 flex items-center cursor-pointer">
								<i class="fa fa-share-square-o mr-2" aria-hidden="true"></i>
								<span>Share</span>
							</div>
						</div>
						<div class="commentBox">
							<div class="commentList flex flex-col">
								<div class="px-4 py-2">
									<a href="#" class="flex w-full items-center">
										<span class="mr-2">IMG</span>
										<span class="text-sm text-gray-900 font-bold">Thomas White <span class="text-secondaryText font-normal">8 minutes ago</span></span>
									</a>
									<div class="flex flex-wrap break-words w-full">
										<p class="text-sm">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sit amet, for the Word of God and the testimony of Jesus Christ.</p>
									</div>
								</div>
							</div>

							<div>
								<form method="POST" action="/comment" class="p-2">
									<div class="flex flex-row flex-1 p-1 my-auto">
										<textarea type="text" name="userName" placeholder="Comment Text" class="flex-1 focus:outline-none"></textarea>
									</div>
									<button type="submit" class="rounded bg-primary w-full py-1 flex justify-center focus:outline-none">Comment</button>
								</form>
							</div>
						</div>
					</div>
			    
			</div>
		</div>
     </div>  
</body>
</html>